@import "tailwindcss";
:root {
  --tat-gold:hsl(31.26deg 82.07% 71.57%);
  --tat-blue: hsl(212.86deg 35% 23.53%);
  --tat-teal: hsl(145deg 41.38% 22.75%);
  --tat-card: hsl(40.82deg 94.17% 79.8%);
  --tat-dark: #0A0A0A;
  --tat-text: #F5F5F5;
  --tat-lightgrey:#aaa;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:Inter, sans-serif;
  background:var(--tat-dark);
  color:var(--tat-text);
}
.brand-text {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;

    background: linear-gradient(
        180deg,
        #F2F2F2 0%,
        #D8D8D8 10%,
        #BEBEBE 20%,
        #8F8F8F 40%,
        #666666 60%,
        #3A3A3A 80%,
        #1C1C1C 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow:
        0 1px 0 rgba(255,255,255,.15),
        0 2px 3px rgba(0,0,0,.4),
        0 8px 20px rgba(0,0,0,.5);
}
.nav-items{
  font-size: small;
}
.TEST{
    height: 100px;
    width: 120px;
    font-size: medium;
    background: var(--tat-gold);
    color: var(--tat-teal);
    font-weight: bold;
    padding: 12px 12px;
    border-radius: 12px;
    transition: all 0.35s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .navBar{
      width: 100%;
      background-color: var(--tat-dark);
      overflow: hidden;
      display: flex;
      flex-direction: column;
    } 
}
